@charset "UTF-8"

h1 {
    color: rgb(0, 23, 83);
    font-size: 3em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(78, 97, 154);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: rgb(2, 24, 44);
   
}